<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>20160406003-CoreAnimation-AppStartAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D59D3CF11CB513A300443460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59D3D0A1CB513A300443460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D59D3D151CB513A300443460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
